<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% spaceless %}
{% set _title = block('title') %}
GAS{% if _title is not empty %} | {% endif %}{{ block('title') }}
{% endspaceless %}</title>
        <link rel="stylesheet" href="{{ asset('bundles/patlenaingas/css/gas.css') }}" type="text/css" media="all" />
        <link rel="stylesheet" href="{{ asset('bundles/patlenaingasjqueryui/css/jquery-ui.min.css') }}" type="text/css" media="all" />
        {% block stylesheets %}
        {% endblock %}
        <link rel="icon" type="image/png" href="{{ asset('bundles/patlenaingas/images/icon.png') }}" />
        <script type="text/javascript" src="{{ asset('bundles/patlenaingasjquery/js/jquery.min.js') }}" ></script>
        <script type="text/javascript" src="{{ asset('bundles/patlenaingasjqueryui/js/jquery-ui.min.js') }}" ></script>
        <script type="text/javascript" src="{{ asset('bundles/patlenaingasjqueryui/js/jquery.ui.datepicker-fr.min.js') }}" ></script>
        <script type="text/javascript" src="{{ asset('bundles/patlenaingas/js/gas.js') }}" ></script>
        <script type="text/javascript">
//<!--
$.datepicker.setDefaults($.datepicker.regional["fr"]);

$.datepicker.setDefaults({
	showOn: "button",
	buttonImageOnly: true,
	buttonImage: "{{ asset('bundles/patlenaingas/images/calendar.png') }}"
});

$(document).ready(function() {
	$(".datepicker").datepicker();
});
//-->
		</script>
        {% block javascripts %}
        {% endblock %}
    </head>
<body>
<div id="body">
	<div id="header">
		<div id="logo">
			<a href="{{ path('patlenain_gas_index') }}">
				<img src='{{ asset('bundles/patlenaingas/images/gas_logo.png') }}'
					alt="{% trans %}patlenain_gas.title{% endtrans %}"
					title="{% trans %}patlenain_gas.title{% endtrans %}"/>
			</a>
		</div>
		<div id="userInfo">
			<div>{{ association }}</div>
			<div>
			{% if app.user  %}
				<span onclick="javascript:window.location='{{ path('patlenain_gas_preferences') }}';">
					{{ app.user.nom }}
				</span>
				-
				<span onclick="javascript:window.location='{{ path('patlenain_gas_logout') }}';">
					{% trans %}patlenain_gas.logout.action{% endtrans %}
				</span>
			{% else %}
				<span onclick="javascript:window.location='{{ path('patlenain_gas_login') }}';">
					{% trans %}patlenain_gas.login.action{% endtrans %}
				</span>
			{% endif %}
			</div>
		</div>
	</div>
	<div>
		<div id="content">
			<div class="menu">
				{% if is_granted('ROLE_USER') %}
				<span class="menu-item" onclick="javascript:window.location='{{ path('patlenain_gas_adherent_list') }}';">
					{% trans %}patlenain_gas.menu.adherent{% endtrans %}
				</span>
				{% endif %}
				{% if is_granted('ROLE_ADMIN') %}
				<span class="menu-item" onclick="javascript:window.location='{{ path('patlenain_gas_annee_list') }}';">
					{% trans %}patlenain_gas.menu.annee{% endtrans %}
				</span>
				{% endif %}
				{% if is_granted('ROLE_ADMIN') %}
				<span class="menu-item" onclick="javascript:window.location='{{ path('patlenain_gas_utilisateur_list') }}';">
					{% trans %}patlenain_gas.menu.utilisateur{% endtrans %}
				</span>
				{% endif %}
				<span class="menu-item menu-aPropos" onclick="javascript:window.location='{{ path('patlenain_gas_apropos') }}';">
					{% trans %}patlenain_gas.menu.aPropos{% endtrans %}
				</span>
			</div>
			<div class="title">
				{{ block('icon') }}
				{{ block('title') }}
			</div>
			{% if app.session.flashbag.has('error') %}
				<div class="error">
				<ul>
				{% for flashMessage in app.session.flashbag.get('error') %}
					<li>{{ flashMessage|trans }}</li>
				{% endfor %}
				</ul>
				</div>
			{% endif %}

			{% if app.session.flashbag.has('notice') %}
				<div class="notice">
				<ul>
				{% for flashMessage in app.session.flashbag.get('notice') %}
					<li>{{ flashMessage|trans }}</li>
				{% endfor %}
				</ul>
				</div>
			{% endif %}
			{% block body %}{% endblock %}
		</div>
	</div>
</div>
    </body>
</html>
