{% extends 'PatlenainGasBundle::base.html.twig' %}

{% block title %}{% trans %}patlenain_gas.adherent.list.title{% endtrans %}{% endblock %}

{% block body %}
{{ form_start(form) }}
	{{ form_errors(form) }}

	{{ form_row(form.nom) }}
	{{ form_row(form.prenom) }}
	{{ form_row(form.annee) }}
	<div class="boutons">
		{{ form_widget(form.recherche) }}
		{{ form_widget(form.reset) }}
		<input type="button" class="bouton" onclick="javascript:window.location.href = '{{ path('patlenain_gas_adherent_add')}}';"
			value="{% trans %}patlenain_gas.common.add{% endtrans %}">
		<input type="button" class="bouton" onclick="javascript:window.location.href = '{{ path('patlenain_gas_adherent_import')}}';"
			value="{% trans %}patlenain_gas.common.import{% endtrans %}">
		<input type="button" class="bouton" onclick="javascript:window.location.href = '{{ path('patlenain_gas_adherent_export')}}';"
			value="{% trans %}patlenain_gas.common.export{% endtrans %}">
	</div>
	{{ form_rest(form) }}
{{ form_end(form) }}
<div class="liste">
	<table>
		<thead>
			<tr>
				<th style="width: 7em;">{% trans %}patlenain_gas.adherent.nom{% endtrans %}</th>
				<th style="width: 7em;">{% trans %}patlenain_gas.adherent.prenom{% endtrans %}</th>
				<th style="width: 10em;">{% trans %}patlenain_gas.adherent.email{% endtrans %}</th>
				<th style="width: 7em;">{% trans %}patlenain_gas.adherent.codePostal{% endtrans %}</th>
				<th style="width: 7em;">{% trans %}patlenain_gas.adherent.ville{% endtrans %}</th>
				<th style="width: 7em;">{% trans %}patlenain_gas.adherent.annee{% endtrans %}</th>
			</tr>
		</thead>
		<tbody>
		{% for adherent in adherents %}
		<tr class="{{ cycle(['odd', 'even'], loop.index) }}"
			onclick="javascript:window.location.href = '{{ path('patlenain_gas_adherent_show', {'adherentId': adherent.id}) }}';">
			<td>{{ adherent.nom }}</td>
			<td>{{ adherent.prenom }}</td>
			<td>{{ adherent.email }}</td>
			<td>{{ adherent.codePostal }}</td>
			<td>{{ adherent.ville }}</td>
			<td>{{ adherent.annee.libelle }}</td>
		</tr>
		{% endfor %}
		</tbody>
	</table>
</div>
{% endblock body %}
