{% extends 'PatlenainGasBundle::base.html.twig' %}

{% block title %}{% trans %}patlenain_gas.adherent.list.title{% endtrans %}{% endblock %}

{% block body %}
<div class="list">
	<table>
		<thead>
			<tr>
				<th style="width: 20%;">{% trans %}patlenain_gas.adherent.nom{% endtrans %}</th>
				<th style="width: 20%;">{% trans %}patlenain_gas.adherent.prenom{% endtrans %}</th>
				<th style="width: 20%;">{% trans %}patlenain_gas.adherent.email{% endtrans %}</th>
				<th style="width: 20%;">{% trans %}patlenain_gas.adherent.codePostal{% endtrans %}</th>
				<th style="width: 20%;">{% trans %}patlenain_gas.adherent.ville{% endtrans %}</th>
			</tr>
		</thead>
		<tbody>
		{% for adherent in adherents %}
		<tr class="{{ cycle(['odd', 'even'], loop.index) }}"
			onclick="javascript:window.location.href = '{{ path('patlenain_gas_adherent_show', {'adherentId': adherent.id}) }}';">
			<td>
				{{ adherent.nom }}
			</td>
			<td>
				{{ adherent.prenom }}
			</td>
			<td>
				{{ adherent.email }}
			</td>
			<td>
				{{ adherent.codePostal }}
			</td>
			<td>
				{{ adherent.ville }}
			</td>
		</tr>
		{% endfor %}
		</tbody>
	</table>
	<div class="boutons">
			<input type="button" class="bouton" onclick="javascript:window.location.href = '{{ path('patlenain_gas_adherent_add')}}';"
				value="{% trans %}patlenain_gas.common.add{% endtrans %}">
	</div>
</div>
{% endblock body %}
