{% extends 'PatlenainGasBundle::base.html.twig' %}

{% block title %}{% trans %}patlenain_gas.adherent.readhesion.title{% endtrans %}{% endblock %}

{% block body %}
{{ form_start(form) }}
	{{ form_errors(form) }}

	{{ form_row(form.nom) }}
	{{ form_row(form.prenom) }}
	{{ form_row(form.adresse) }}
	{{ form_row(form.codePostal) }}
	{{ form_row(form.ville) }}
	{{ form_row(form.email) }}
	{{ form_row(form.dateNaissance) }}
	{{ form_row(form.dateAdhesion) }}
	{{ form_row(form.annee) }}
	<div class="boutons">
		{{ form_widget(form.save) }}
		{{ form_widget(form.reset) }}
		<input class="bouton" type="button" onclick="window.location.href='{{ path('patlenain_gas_adherent_show', { 'adherentId': adherent.id }) }}'"
			value="{% trans %}patlenain_gas.common.back{% endtrans %}" />
	</div>
	{{ form_rest(form) }}
{{ form_end(form) }}
{% endblock %}
