{% extends 'PatlenainGasBundle::base.html.twig' %}

{% block title %}{% trans %}patlenain_gas.annee.edit.title{% endtrans %}{% endblock %}

{% block body %}
{{ form_start(form) }}
	{{ form_errors(form) }}

	{{ form_row(form.libelle) }}
	<div class="boutons">
		{{ form_widget(form.save) }}
		{{ form_widget(form.reset) }}
		<input class="bouton" type="button" onclick="window.location.href='{{ path('patlenain_gas_annee_list') }}'"
			value="{% trans %}patlenain_gas.common.back{% endtrans %}" />
	</div>
	{{ form_rest(form) }}
{{ form_end(form) }}
{% endblock %}
