{% extends 'PatlenainGasBundle::base.html.twig' %}

{% block title %}{% trans %}patlenain_gas.adherent.show.title{% endtrans %}{% endblock %}

{% block javascripts %}
<script type="text/javascript">
<!--
function confirmDelete() {
	if (confirm("{% trans %}patlenain_gas.adherent.confirmDelete{% endtrans %}")) {
		$("#deleteForm").submit();
	}
}
//-->
</script>
{% endblock %}

{% block body %}
<div>
	<label>{{ 'patlenain_gas.adherent.nom'|trans }}</label>
	<span>{{ adherent.nom }}</span>
</div>
<div>
	<label>{{ 'patlenain_gas.adherent.nom'|trans }}</label>
	<span>{{ adherent.prenom }}</span>
</div>
<div>
	<label>{{ 'patlenain_gas.adherent.email'|trans }}</label>
	<span><a href="mailto:{{adherent.email}}">{{ adherent.email }}</a></span>
</div>
<div>
	<label>{{ 'patlenain_gas.adherent.dateNaissance'|trans }}</label>
	<span>{{ adherent.dateNaissance | date('d/m/Y') }}</span>
</div>
<div>
	<label>{{ 'patlenain_gas.adherent.dateAdhesion'|trans }}</label>
	<span>{{ adherent.dateAdhesion | date('d/m/Y') }}</span>
</div>
<div class="boutons">
	<input class="bouton" type="button" onclick="window.location.href='{{ path('patlenain_gas_adherent_edit', { adherentId: adherent.id }) }}'"
		value="{% trans %}patlenain_gas.common.edit{% endtrans %}" />
	<input class="bouton" type="button" onclick="window.location.href='{{ path('patlenain_gas_adherent_list') }}'"
		value="{% trans %}patlenain_gas.common.back{% endtrans %}" />
	<input class="bouton" type="button" onclick="confirmDelete();"
		value="{% trans %}patlenain_gas.common.delete{% endtrans %}" />
</div>

{{ form(delete_form, { 'attr': { 'id': 'deleteForm' }}) }}

{% endblock %}
